.containter{
    display: flex;
    margin: 0 30%;

}

.form {
    display: block;
    width: 100%;

}

.form label{
    font-size: 20px;
    display: block;
    text-align: center;
    width: 100%;
}

.form input{
    width: 100%;
    font-size: 20px;
    margin: 5px 0 15px 0;
    padding: 5px;
    border-radius: 5px;
    color: #2d2525;
    border-color: #f0f0f0;
}
.form input[type=submit]{
    color: #202124;
}